In [8]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, display_html

In [ ]:
read = pd.read_csv("../data/prices.csv")

In [6]:
data = [['tom', 10, 1], ['nick', 15, 3], ['juli', 14, 5]]
 
df = pd.DataFrame(data, columns=['Name', 'Age', 'ID'])

t0 = df['Name'].unique()[:2]

print(t0)

['tom' 'nick']

In [ ]:
new_data = df.copy()
column_to_study = 'Grocery'
X_all = new_data.drop(column_to_study, axis=1)
y_all = data[column_to_study]

# TODO: Split the data into training and testing sets using the given feature as the target
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.25, random_state=10)

# TODO: Create a decision tree regressor and fit it to the training set
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=10)
regressor = regressor.fit(X_train, y_train)

# TODO: Report the score of the prediction using the testing set
score = regressor.score(X_test, y_test)
print(score)

In [54]:
data = [['tom', 10, 1, 1], ['nick', 15, 3, 1], ['juli', 14, 5, 1]]
 
df = pd.DataFrame(data, columns=['Name', 'Age', 'ID', 'val'])
df

   Name  Age  ID  val
0   tom   10   1    1
1  nick   15   3    1
2  juli   14   5    1

In [55]:
import numpy as np
train_mean = np.mean(df['Age'], axis=1)
type(train_mean)

ValueError: No axis named 1 for object type Series

In [49]:
type(df.loc[df["val"]==1]["Age"].median())

numpy.float64

In [45]:
rate = (df.loc[(df["val"] == 1) & (df["ID"] == 1), ["Age"]].count() / df.loc[df["val"] == 1, ["Age"]].count())
rate

Age    0.333333
dtype: float64

In [36]:
import numpy as np
loged = np.log(df[['Age', "ID"]])
loged

        Age        ID
0  2.302585  0.000000
1  2.708050  1.098612
2  2.639057  1.609438

In [21]:
labels = df.values[:,0]
labels

array(['tom', 'nick', 'juli'], dtype=object)

In [13]:
from sklearn.model_selection import train_test_split
X_train_10K, X_test_10K, y_train_10K, y_test_10K = train_test_split(df, df, random_state=29)

In [10]:
test = df['Name'].values.reshape(-1, 1)
test

array([['tom'],
       ['nick'],
       ['juli']], dtype=object)

In [11]:
type(test)

numpy.ndarray

In [6]:
from sklearn.datasets import load_iris  
from sklearn.linear_model import LogisticRegression  
from sklearn.metrics import accuracy_score  
  
# Loading and separating the independent and the dependent features of the dataset  
X, Y = load_iris(return_X_y = True)  
  
# Creating an instance of the Logistic Regression model class  
logreg = LogisticRegression(random_state = 0)  
  
# Fitting our load_iris dataset to the model  
logreg.fit(X, Y)  
  
# Predicting the values using the predict method in the model class  
Y_pred = logreg.predict(X)  
  
# Calculating the accuracy score of the model based on the predicted values and the true values of the dependent feature  
score = accuracy_score(Y, Y_pred)  
print(score)

0.9733333333333334

/Users/MP/Library/Python/3.9/lib/python/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [33]:
from sklearn.decomposition import PCA

X1, Y1 = load_iris(return_X_y = True, as_frame=True) 
X1
# pca = PCA(n_components=2).fit(X1)
# pca_2d = pca.transform(X1)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]